body{
    margin: 0%;
 }
 #main-div{
     border:5px solid gray;
     margin-top: 100px;
     width:300px;
     border-radius: 10px;
     background-color: aqua;
 }
 #div-second{
     height:100px;
     border:3px solid grey;
     border-radius: 20px;
 }
 #clear{
     margin-left: 0%;
     margin-right: 50px;
     text-align: left;
 }
 level{
     font-weight: bold;
 }